# compiled
__pycache__
*.py[cod]

# distribution
*.egg-info
.eggs/
dist/
build/

# docs
doc/build

# test
.tox
.coverage
coverage.xml
htmlcov/
pip-wheel-metadata

# misc
*.swp
venv/

# pyenv
.python-version
